<div class="container mt-4">
  <h4 class="text-center text-primary">Lista de Productos</h4>
  
  <table class="table table-bordered text-center">
      <thead>
          <tr class="text-white text-center bg-primary">
              <th>Tipo Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Valor total</th>
              <th>Añadir/Eliminar unidades</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let producto of productos ; let i = index" >
              <td>{{ producto.tipoProducto }}</td>
              <td>{{ producto.precio | currency: 'EUR' }}</td>
              <td>{{ producto.cantidadProducto }}</td>
              <td>{{ producto.precio * producto.cantidadProducto | currency: 'EUR' }}</td>
              <td>
                <div class="d-flex justify-content-center">
                   <button class="btn btn-danger btn-md me-2" (click)="modificarUnidades(i, -1)">-</button>
                   <button class="btn btn-success btn-md" (click)="modificarUnidades(i, 1)">+</button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>





