.table {
    width: 100%;
    margin-top: 1rem;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.table thead th {
    font-weight: bold;
    font-size: 1rem;
}

.btn-sm {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

 .selected {
    background-color: #d1ecf1; 
    color: #0c5460; 
    font-weight: bold;
  }

  tbody tr:hover {
    background-color: #f8f9fa; 
  }
  
  .btn {
    transition: transform 0.2s ease-in-out, background-color 0.2s;
  }

  .btn:hover {
    transform: scale(1.05);
  }
  